.btn-062 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .logo-62 {
    font-size: 3.5rem;
  }

  &:link,
  &:visited {
    color: $cd2;
    background: $c2;
    border: 0.2rem solid $c2;
    text-decoration: none;
    padding: 1rem 2.5rem;
    transition: all 0.2s;
    border-radius: 5rem;
  }

  &:hover {
    color: $c2;
    background: $cd2;
    box-shadow: 0 0 2rem $c2;
  }

  &:active {
    transform: scale(0.95);
  }
}
