.btn-034 {
  &:link,
  &:visited {
    color: var(--color-primery-1);
    background-image: linear-gradient(
      25deg,
      var(--color-secondary-2) 0%,
      var(--color-secondary-9) 100%
    );
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
    border-radius: 1rem;
  }

  &:hover {
    letter-spacing: 0.3rem;
  }

  &:active {
    transform: scale(0.95);
  }
}
