.btn-066 {
  &:link,
  &:visited {
    img {
      width: 10rem;
      border-radius: 5rem;
      box-shadow: 0 0 0.5rem $cl1;
      transition: all 0.4s;
    }
  }

  &:hover {
    img {
      box-shadow: 0 0 2rem $c8;
      transform: scale(1.1);
    }
  }

  &:active {
    img {
      transform: scale(1);
    }
  }
}
