.btn-013 {
  &:link,
  &:visited {
    color: var(--color-secondary-3);
    border: 0.2rem solid var(--color-secondary-3);
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
  }

  &:hover {
    box-shadow: 0 0 2rem var(--color-secondary-3);
    letter-spacing: 0.5rem;
  }

  &:active {
    transform: scale(0.95);
  }
}
