.btn-67 {
  &:link,
  &:visited {
    img {
      width: 10rem;
      transition: all 0.3s;
      border-radius: 2rem;
      box-shadow: 0 0 0.5rem $cl1;
    }
  }

  &:hover,
  &:active {
    img {
      box-shadow: 0 0 2rem $c8;
    }
  }
}
