.btn-02 {
  &:link,
  &:visited {
    color: $c2;
    border: 0.2rem solid $c2;
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
  }

  &:hover {
    color: $cd2;
    background: $c2;
    box-shadow: 0 0 3rem $c2;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}
