.btn-05 {
  &:link,
  &:visited {
    color: $c5;
    border: 0.2rem solid $c5;
    letter-spacing: 0.4rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $cd2;
    background: $c5;
    box-shadow: 0 0 3rem $c5;
    transform: skew(-20deg);
  }
}
