.btn-069 {
  &:link,
  &:visited {
    img {
      width: 10rem;
      border-radius: 2rem;
      box-shadow: 0 0 0.5rem $cl1;
      transition: all 0.3s;
    }
  }

  &:hover,
  &:active {
    img {
      filter: sepia(23%) saturate(1436%) hue-rotate(111deg) brightness(95%)
        contrast(78%);
      box-shadow: 0 0 2rem $cl1;
    }
  }
}
