.btn-047 {
  &:link,
  &:visited {
    color: $c7;
    border: 0.2rem solid $c7;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    transition: 0.3s transform ease-in-out;
  }

  &:hover,
  &:active {
    border: 0.2rem solid $cd2;
    color: $cd2;
    transform: scale(1.05);
  }

  &:after {
    background: $c7;
    border-radius: 3rem;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.3s transform ease-out;
    z-index: -1;
  }

  &:hover:after {
    transform: translate(0, 0);
  }
}
