.btn-064 {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-64 {
    font-size: 5rem;
  }

  &:link,
  &:visited {
    color: $cd2;
    border: 0.2rem solid $c4;
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    transition: all 0.2s;
    border-radius: 100%;
    background: $c4;
  }

  &:hover {
    color: $c4;
    background: $cd2;
    box-shadow: 0 0 2rem $c4;
  }

  &:active {
    transform: scale(0.95);
  }
}
