.btn-68 {
  &:link,
  &:visited {
    img {
      width: 10rem;
      border-radius: 5rem;
      box-shadow: 0 0 0.5rem $cl1;
    }
  }

  &:hover,
  &:active {
    img {
      filter: sepia(54%) saturate(733%) hue-rotate(314deg) brightness(97%)
        contrast(101%);
      box-shadow: 0 0 2rem $cl1;
    }
  }
}
